
.nav-item{
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
  font-size:large;
  text-align: left;
}

#nav{
  display: block;
  padding: auto;
  margin: auto;
}

li a {
  display: inline-block;
  font-weight: bolder;
}

ul a{
  display: inline-block;
}
li a:hover {
  background-color: lightgray;

}

.active { 
  border-bottom:#003380ff 6px solid;
  background-color:rgba(128, 128, 128, 0.144);
 
 
}
h2{
  text-align: center;

}
body{
  text-align: left;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
  margin-top: 5px;
  padding: auto;
  font-size: medium;
  font-family:Georgia, 'Times New Roman', Times, serif; 
  text-align: center;
  border-top: #003380ff 4px solid;
  background-color: #6c757d21;
}






